# Audio data
data/**/*.wav
data/voice/
data/silence/

# Model files
model/**/*.h5
model/**/*.pkl
model/**/*.tflite

# Python virtual environments
venv/
env/
*.env/
*.venv/
voice-venv/
voice-env/

# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
#.DS_store
*.DS_Store